<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas adipisci deleniti ipsa voluptate, error molestiae eligendi ex repellat voluptatibus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, fuga.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit blanditiis corrupti, laudantium ad sunt veniam!</p>
    </div>
</body>
    <%- include('./partials/footer.ejs') %>
</html>